{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    "inline-react-svg",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
